* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    max-width: 100%;
    max-height: 100%;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
}

header {
    height: 6%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 15px 0 15px;
}

footer {
    height: 4vh;
    background-color: #000;
    color: rgb(181, 181, 181);
    padding: 10px 0;
}